*{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
#task{
    display: block;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border-radius: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 2rem;
}

#task:hover{
    background-color: rgb(110, 51, 219);
    color: black;
}

button{
    padding: 0.2rem 5rem;
    border-radius: 50px;
    font-size: 1rem;
    box-shadow: 0 0 15px;
    margin: 0.5rem;
    transition: color 0.2s ease;
    cursor: pointer;
}
button:hover{
    color: purple;
}
.add{
    cursor: crosshair;
}
.all-task{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 3rem;
    box-shadow: 0 0 2rem;
    border-radius: 50px;
    animation: ani 0.2s linear infinite;
    font-weight: 500;
}
/* @keyframes ani{
    0% {
        box-shadow: 5px 0 10px;
        color: blue;
    }
    25% {
        box-shadow: 0 5px 10px;
        color: purple;
    }
    50% {
        box-shadow: -5px 0 10px;
        color: rgb(112, 112, 224);
    }
    75% {
        box-shadow: 0 -5px 10px;
    }
    100% {
        box-shadow: 5px 0 10px;
        color: rgb(101, 101, 228);
    } */
}
@media (max-width: 446px) {
    .all-task{
        width: 20rem;
    }
}
@media (max-width: 430px) {
    .all-task{
        width: 15rem;
    }
    button{
        padding: 0.1rem 4rem;
    }
}
.purple-icon {
  color: rgb(218, 179, 128);
  margin-left: 0.5rem;
}



